@import "reset";
@import "vars";

/* Main Styles */

body {
	font-family: Sans-Serif;
	// min-height: 100vh;
}

/* Intro */

.intro {
	background-color: $blue;
	padding: 2rem 5%;
}

.intro__heading {
	color: $white;
	font-size: 2.074rem;
	font-weight: bold;
}

/* Demo */

.demo {
	margin: 0 auto;
	max-width: 1200px;
	padding: 2rem 0;
	width: 90%;
}

.flex-container {
	-ms-box-orient: horizontal;
	display: flex;
}

.flex-wrap {
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap; 
}

.flex-item {

	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-top: 5px solid $yellow;
  
  color: gray;
  font-size: 2em;
  font-weight: bold;
  height: 100px;
  line-height: 100px;
  margin-bottom: 1rem;
  padding: 5px;
  text-align: center;

  /* Flex */
  flex-grow: 1; // Amount of space inside the flex container the item should take up.
  width: 100%;

  @media screen and (min-width: 650px){
    width: 48%;

    &:nth-child(odd) {
    	margin-right: 2%;
    }

    &:last-child {
    	margin-right: 0;
    }
  }

  @media screen and (min-width: 900px){
   width: 32%;
    margin-right: 2%;

    &:nth-child(3n) {
    	margin-right: 0;
    }
  }
}

// .side-bar {
// 	color: white;
// 	background: #282C2D;
// 	height: 100vh;

// 	/* Flex */
// 	flex: 0 0 auto;
// 	width: 230px;
// }